[2022-11-18 21:12] rchiodo commented on #3550
This issue was fixed in prerelease version 2022.11.21. You can find the changelog here: [CHANGELOG.md](https://github.com/microsoft/pylance-release/blob/main/CHANGELOG.md#20221121-9-November-2022-PreRelease)

[2022-11-18 21:12] #3550 closed

[2022-11-18 23:00] ooliver1 commented on #3447
May be related to #3554

[2022-11-18 23:00] ooliver1 commented on #3649
#3554

[2022-11-18 23:01] ooliver1 commented on #3650
May be related to #3554

[2022-11-19 06:22] zhiyiYo opened #3653 "The status bar displays the prompt that "XX files to analyze""
## Environment data

-   Language Server version: v2022.11.32
-   OS and version: Windows11
-   Python version (& distribution if applicable, e.g. Anaconda): 3.8.6

## Repro Steps
Write some code casually in the text editor

## Expected behavior

Don't show this annoying prompt on the status bar

## Actual behavior
![image](https://user-images.githubusercontent.com/65096819/202837485-51a47890-a966

[2022-11-19 08:50] Skynet0 opened #3654 "`TypeAlias` forward reference results in `Unknown`"
<h3> Environment data </h3>

-   Language Server version: 2022.11.30
-   OS and version: linux x64
-   Python version (and distribution if applicable, e.g. Anaconda):
-   python.analysis.indexing: false
-   python.analysis.typeCheckingMode: strict

<h3> Code Snippet </h3>

[code]

<h3> Repro Steps </h3>

Copy-paste the above code and see Pylance's highlighting / hover type hints.

<h3> Expected be

[2022-11-19 10:41] MiguelGuthridge commented on #3632
I'm starting to think this might not be a Pylance issue. Although I hadn't experienced any issues with other languages until today, I recently experienced the same symptoms when working with Rust. To double check, I tried with all my Python-related extensions disabled, but it was still happening. It could be entirely unrelated issues, but the outcomes were similar enough that I've opened an issue

[2022-11-19 14:30] erictraut commented on #3654
Thanks for the bug report. This will be addressed in an upcoming release.

[2022-11-19 19:12] Torom commented on #3652
+1 Exactly the same behavior occurs for me.

-   Language Server version: 2022.11.30 (pyright 04a10583)
-   OS and version: Arch Linux 6.0.9-arch1-1
-   Python version: 3.11.0

[2022-11-20 00:37] craigholm commented on #3649
I encountered this same problem with 2022.11.30.  The issue went away after rolling back to 2022.11.20.

[2022-11-20 09:40] whoeverim5 commented on #3530
@debonte

| Extension | Version |
| ---------- | --------- |
| Jupyter | v2022.11.1003241024(pre-release) |
| Pylance | v2022.11.30 |
| Python | v2022.18.2 |

After upgrading to the pre-release build of Jupyter, the problem is only partially solved:
Duplicate intellisense only appear in those variables I imported and only happen when I run the notebook once, otherwise everything works well.
## bef

[2022-11-20 12:04] #3642 closed, assigned to bschnurr

[2022-11-20 18:09] alanlivio commented on #3644
Many thanks @debonte

I installed pylance 2022.11.31.
![image](https://user-images.githubusercontent.com/604808/202918283-484b7820-6483-478b-869a-2d7017e85d28.png)

I tried used both ``python.analysis.exclude` and `python.analysis.ignore` with `"**/*.ipynb*"` and have the same reportUndefinedVariable error.

![image](https://user-images.githubusercontent.com/604808/202918255-9dde8a40-92c1-456c-a9d

[2022-11-21 00:08] parched opened #3655 "Find all references doesn't work in multi-root workspace"
## Environment data

-   Language Server version: Pylance language server 2022.11.30 (pyright 04a10583)
-   OS and version: Windows 10
-   Python version (& distribution if applicable, e.g. Anaconda): 3.11

## Code Snippet

Find all references from the dependent works as expected but isn't particularly useful.
![image](https://user-images.githubusercontent.com/5975405/202933729-991fb74b-ce7b-4a68-

[2022-11-21 01:33] parched opened #3656 "Flag indentation error without invalidating rest of file"
If there's some unexpected indentation it shows errors in other parts of the file (and any files that depend on it).

![image](https://user-images.githubusercontent.com/5975405/202940310-701a91bd-9d00-4003-9bf3-356b04bcd4c1.png)

This can make tracking down the real error more difficult. It would be great if the parser flagged the unexpected indentation but carried on parsing like that line didn't

[2022-11-21 01:43] parched commented on #3656
Correcting the indentation rather than ignoring the line, would probably be a better choice, at least for an example like this
![image](https://user-images.githubusercontent.com/5975405/202943276-6d31a8e8-b148-4b5f-9a7d-bd2a20cb8b5f.png)

[2022-11-21 01:51] parched commented on #3656
Or, if it's under-indented, pretend there's an extra `pass` line with the correct indentation, and, if it's over-indented, pretend the indentation is decreased. I'm not really sure if this would work for all case though, or even if it's possible to come up with such a rule.

[2022-11-21 04:52] erictraut commented on #3656
Yes, we can do a better job of parse recovery here. It's a little more complicated than ignoring indents, but it's still pretty straightforward. In Python, the tokenizer inserts both `indent` and `dedent` tokens into the token stream. In your example above, the token stream consists of:
[code]

The initial error occurs when the parser detects an unexpected indent. I've added better recovery logic

[2022-11-21 05:39] Twistedsnail opened #3657 "Metaclass instance functions not resolving in"
<h3> Environment data </h3>

-   Language Server version: 2022.11.30
-   OS and version: linux x64
-   Python version (and distribution if applicable, e.g. Anaconda):
-   python.analysis.indexing: true
-   python.analysis.typeCheckingMode: strict

<h3> Code Snippet </h3>

[code]

<h3> Expected behavior </h3>

No errors are thrown and type[b] is B

<h3> Actual behavior </h3>

Pylance errors thrown:

[2022-11-21 06:08] erictraut commented on #3657
Transfering to pyright since this is a core type checking issue.

[2022-11-21 09:13] tnielens commented on #3648
Seems to fail for packages installed in a venv in the project directory as well.

[2022-11-21 09:48] schlunma commented on #3649
Same problem for me with Pylance running on Remote Extension host.

-   Language Server version: Pylance language server 2022.11.30 (pyright 04a10583)
-   OS and version (remote host): Red Hat Enterprise Linux release 8.5 (Ootpa)
-   Python version (& distribution if applicable, e.g. Anaconda): 3.10.6 (ha86cf86_0_cpython; conda-forge)

[2022-11-21 12:47] rdbisme commented on #3650
Hello, still experiencing this problem. VScode becomes unresponsive and it's basically unusable. Anything I can do to help more?

[2022-11-21 17:37] bschnurr commented on #3650
can you upload a file with the trace logs? see https://github.com/microsoft/pylance-release/blob/main/TROUBLESHOOTING.md#filing-an-issue

[2022-11-21 17:43] rchiodo commented on #3652
This is strange:

[code]

Can you include the contents of your user settings.json? For some reason we don't think there are any workspaces open.

[2022-11-21 17:45] rchiodo commented on #3649
@VerathianHD or @schlunma can you include the contents of the 'Python Language Server' output tab?

Thanks.

[2022-11-21 17:52] erictraut commented on #3652
@rchiodo, the "No source files found" is only for the "<default>" service instance. That makes sense because we use the "<default>" service instance for files that don't appear within any of the workspace roots — some other file that you happen to open in your editor. The logs show that there were are two workspaces called "Main" and "Other Project". We created one service instance for each, and o

[2022-11-21 18:00] rdbisme commented on #3650
@bschnurr Like this: https://github.com/microsoft/pylance-release/issues/3650#issuecomment-1320354310 or something different?

[2022-11-21 18:01] Bendi06 commented on #3652
Here is the settings.json (.txt because github does not support json for some reason):
[settings.json.txt](https://github.com/microsoft/pylance-release/files/10059304/settings.json.txt)

[2022-11-21 18:13] rchiodo commented on #3652
Thanks. Can you turn on trace logging:

![image](https://user-images.githubusercontent.com/19672699/203129567-6bfa6629-fd94-4f43-9171-5ba1e80413fb.png)

And try again?

I don't repro the problem. Semantic tokens are working for me on reload.

This should appear in the output log:

[code]

Hopefully if that's failing, we'll have some output about the failure.

[2022-11-21 18:15] rchiodo commented on #3652
Sorry my bad, I skipped a step.

`Type anything into main.py and the colors will go away`.

That caused the repro. And `getSemanticTokens` is failing.

[2022-11-21 18:51] debonte commented on #3530
@whoeverim5, what you're seeing is https://github.com/microsoft/vscode-jupyter/issues/11038.

[2022-11-21 18:51] #3530 closed

[2022-11-21 19:04] judej commented on #3647
Triage Q: Will removing this break telemetry logging?

[2022-11-21 19:08] bschnurr commented on #3648
@youssefm Currently it is only designed to work for thirdparty libraries installed in your environment, in order to limit the amount of data returned.

[2022-11-21 19:08] #3648 closed

[2022-11-21 19:08] bschnurr commented on #3648
@tnielens can you create a new issue?

[2022-11-21 19:13] judej commented on #3653
Moving this issue to discussion as an enhancement request for comments and upvotes.

[2022-11-21 19:20] bschnurr opened #3660 "No suggestions on last line of cell in notebook"
## Environment data

-   Language Server version: XXX
-   OS and version: XXX
-   Python version (& distribution if applicable, e.g. Anaconda): XXX

## Code Snippet

[code]

## Repro Steps

1. XXX

## Expected behavior

XXX

## Actual behavior

XXX

## Logs

[code]

[2022-11-21 19:30] #3625 closed

[2022-11-21 19:44] heejaechang commented on #3655
we currently don't support cross workspace root `find all references`, we already have discussion on this (https://github.com/microsoft/pylance-release/discussions/2585)

I will close this issue in favor of existing discussion.

[2022-11-21 19:44] #3655 closed

[2022-11-21 19:48] StellaHuang95 commented on #3580
Thanks @rchiodo!! Do you know when will the users be able to see the fix in VS? Is it after this change is in stable?

[2022-11-21 20:10] heejaechang commented on #3648
Let me clarify a few things.

`python.analysis.packageIndexDepths` is for `third party libraries` installed in folders like `site-packages`  (regardless whether it is under `workspace root` or not)

All symbols from user files under `workspace root` will be always indexed (if `indexing` is on) up to `2000` files.

All of symbols indexed will be suggested with `add symbols` through `light bulb`
ex)

[2022-11-21 20:11] debonte commented on #3517
Yes

[2022-11-21 20:11] #3517 closed

[2022-11-21 20:11] rchiodo commented on #3580
Not sure. Where and when does PTVS update its pylance bits? When you pull in version 2022.11.31, that should be when it becomes a part of PTVS.

[2022-11-21 20:42] Bendi06 commented on #3652
No problem, if you need anything I'm happy to help.

[2022-11-21 21:56] rchiodo commented on #3652
Debugging it, it looks like the sourceFile has empty contents during the textDocument/didChange event. Not sure why yet.

[2022-11-21 23:03] rchiodo commented on #3646
These files are from intellicode. We use them to read the model in the server.

One thought was to switch to this: https://www.npmjs.com/package/onnxruntime-web

Need to talk to somebody on intellicode team to see if that would work or not too.

[2022-11-21 23:16] youssefm commented on #3648
Thanks for the explanation @heejaechang.

You say that:

But I actually do want to be able to auto import all the symbols in my project. This is already how typescript auto import works in VSCode. This feels like a super basic, core scenario for Pylance. We should be able to start typing and get suggestions from our project that are not in open files.

Is there really no option that will let me au

[2022-11-21 23:58] heejaechang commented on #3648
@youssefm you still can get those using `add import`. just not in `auto import`. and unlike many advanced users thinking `auto import` is an essential feature everyone needs, in reality, a lot of users doesn't know what it is and confused about it and that is why we turned it off by default and requires users to turn it on explicitly indicating they know what it is.

That being said, we are now di

[2022-11-22 00:21] StellaHuang95 commented on #3580
Looks like we need to make a VS PR to update pylance, I will see if I can kick off that by starting a new main build.

[2022-11-22 00:53] rchiodo commented on #3652
Initial guess is that the adding of the new folder causes a `textDocument/didOpen` to be handled by the 'default' workspace, and not the workspace that will eventually handle the `textDocument/didChange` event.

[2022-11-22 01:36] StevenLi-DS opened #3661 "UndefinedVariable in interactive window"
## Environment data

-   Language Server version: v2022.11.30
-   OS and version: macos 13
-   Python version (& distribution if applicable, e.g. Anaconda): conda python 3.9.12

Pylance keep showing me UndefinedVariable error in the interactive window no matter what I do

![CS-uREImsfs](https://user-images.githubusercontent.com/33796896/203194864-2f17af6e-9967-40f0-882b-aff3e55a4433.png)
![CS-CFWl

[2022-11-22 03:06] baojd42 opened #3662 "Unexpected type warning when passing a TypedDict to args of pydantic.create_model_from_typeddict"
<h3> Environment data </h3>

-   Language Server version: 2022.11.30
-   OS and version: Debian 11.5
-   Python version (and distribution if applicable, e.g. Anaconda): python 3.10.7
-   python.analysis.indexing: null
-   python.analysis.typeCheckingMode: basic

<h3> Code Snippet </h3>

[code]

<h3> Repro Steps </h3>

1. XXX

<h3> Expected behavior </h3>

No errors.

<h3> Actual behavior </h3>

[c

[2022-11-22 03:30] youssefm commented on #3648
@heejaechang thanks for the context here. It's super helpful. I used to work at Microsoft in devdiv and I can understand how it's hard to make everyone happy.

I definitely appreciate that Python doesn't have the explicit exports that TS has, but are there any heuristics you could trim down the number of symbols you suggest?

For example, let's say I have a file person.py:

[code]

I'm likely to w

[2022-11-22 03:31] erictraut commented on #3662
This is an apparent bug in pydantic. It is using `TypedDict` in a parameter type declaration. `TypedDict` is a special form and cannot be used in this manner. See PEP 589 for details.

I'll note that the pydantic source contains the following comment that claims that it is a bug in mypy.
[code]
Mypy was the reference implementation for PEP 589, so it's safe to say that this usage was not intended

[2022-11-22 06:25] SunYong0821 opened #3663 "duplicate hit or suggest when i installed pylance"
i installed only one extension python，then i got pylance etc，but hint or suggest occurce duplicate。
![企业微信截图_20221122142241](https://user-images.githubusercontent.com/7601063/203240164-3ff5d370-c282-4aff-b486-ee45b2e42bcc.png)
When I disable the extension, there is no problem...... how fix it？

[2022-11-22 08:39] herjiict opened #3664 "Different variable with same name mistakenly highlighted"
## Environment data

-   Language Server version: 2022.11.30 (pyright 04a10583)
-   OS and version: Windows 11 22000.1281 WSL Ubuntu 20.04
-   Python version (& distribution if applicable, e.g. Anaconda): 3.10.6 (pyenv)

## Code Snippet

[code]

## Repro Steps

1. Click the variable `report` in `report = MyReport()` and see only references of that variable get highlighted
2. Click the property `re

[2022-11-22 08:39] schlunma commented on #3649
After running VS Code for about 30 min I get 70 wrong issues in my file. They appeared around 9:20 AM.

![grafik](https://user-images.githubusercontent.com/32543114/203265837-14cfb914-01a2-4f76-a082-8bacd440b947.png)

<details>
<summary>Python Language Server Output</summary>

[code]

</details>

[2022-11-22 08:59] Riki-Du opened #3665 "Allow user to custom memory & process limits of Pylance"
Hi,
I'm trying the "Auto Import" feature of Pylance and I edited "python.analysis.packageIndexDepths" so that I can auto import every symbol in my project.
![image](https://user-images.githubusercontent.com/53928797/203269114-33a53d9b-905b-4d88-9259-d0eaa024e64c.png)
But I found that when I open the vscode client, it takes so much time to do code analysis and only consumes near 300% CPU.
My vscode

[2022-11-22 09:30] OseiasALira commented on #3652
- Language Server version: 2022.11.30 (pyright 04a10583)
- OS and version: Windows 11 Pro 22H2 22621.819
- Python version: 3.11.0

Same issues with me.

[2022-11-22 09:31] rdbisme commented on #3650
@judej I don't understand the "waiting for user response" tag. I replied to @bschnurr  and I provided a file with trace logs in https://github.com/microsoft/pylance-release/issues/3650#issuecomment-1320354310. What am I missing?

[2022-11-22 09:46] rdbisme commented on #3650
[pylance.log.gz](https://github.com/microsoft/pylance-release/files/10066093/pylance.log.gz)

Here's another one while it's happening. Basically PyLance is scanning the entire universe for some reason. And Vscode is unusable.

Any chance we could prioritize this? I can't work...

[2022-11-22 10:16] rdbisme commented on #3650
[pylance2.log.gz](https://github.com/microsoft/pylance-release/files/10066369/pylance2.log.gz)

[2022-11-22 14:35] kov opened #3666 "100% CPU usage on systemd repository"
I hit what looks like a similar issue to #1939. I have pylance v2022.11.30 and when I open code on my systemd repository the pylance process goes to 100% and seems to be on an infinite loop of following links, according to strace:

[code]

And that goes on and on forever.

[2022-11-22 18:44] bschnurr commented on #3000
still seeing this?

just open vscode.dev no typing?

it happens on startup?

[2022-11-22 18:45] judej commented on #3188
Closing old issue. If this is still a problem, please reopen with the information requested. thanks

[2022-11-22 18:45] #3188 closed

[2022-11-22 18:45] heejaechang commented on #3300
related to https://github.com/microsoft/pylance-release/issues/3188

[2022-11-22 18:50] #3662 closed

[2022-11-22 18:51] rchiodo commented on #3663
This should be a dupe of #3530

If you upgrade the Jupyter extension to the latest prerelease, the problem should go away.

[2022-11-22 18:51] #3663 closed

[2022-11-22 18:55] rchiodo commented on #3664
This is because `args.report` is dynamic. We can't determine if it's a symbol, so it does a text search instead.

You can verify this by hovering over `args.report`. If it says unbound, or any, this is the designed behavior. Anything that we don't know what the type is, we do a text search instead.

[2022-11-22 18:55] #3664 closed

[2022-11-22 19:00] debonte commented on #3666
https://github.com/systemd/systemd

[2022-11-22 19:02] rchiodo commented on #3665
The option you're adjusting is actually for [3rd party libraries](https://code.visualstudio.com/docs/python/settings-reference#_python-language-server-settings) so it doesn't affect how we search for symbols in your project.

However, that option does cause us to search much deeper in 3rd party libraries. This will cause a lot of indexing to happen. This indexing is limited by node at the moment t

[2022-11-22 19:02] #3665 closed

[2022-11-22 19:13] heejaechang commented on #3648
@youssefm you can open a new feature request asking for an option for it. that being said, usually, people want to avoid adding more options if possible. so not sure how it will go.

[2022-11-22 20:54] debonte commented on #3661
@StevenLi-DS, can you please provide the content of your "Python Language Server" log from VS Code's output pane?

[2022-11-22 20:56] debonte commented on #3644
@alanlivio, can you please provide the content of your "Python Language Server" log from VS Code's output pane?

[2022-11-22 21:05] StevenLi-DS commented on #3661
@debonte hope this gotta be helpful
[pylance-log.log](https://github.com/microsoft/pylance-release/files/10071061/pylance-log.log)

[2022-11-22 21:28] heejaechang commented on #3632
There is one issue we can improve which we noticed from your log. that will be included in our next release.

What we found from your log is this

[code]

basically, external components are touching some files/folders under your workspace root, and we are responding to those. We added some more rules/cases to ignores when something unknown happens under the root.

[2022-11-22 21:32] debonte commented on #3661
Are you sure the diagnostic is `reportUndefinedVariable`? What I'm seeing is `reportUnusedExpression`.

If that's what you're seeing also, this is a duplicate of #3282 which was fixed in our most recent prerelease build, 2022.11.31.

[2022-11-22 22:52] StevenLi-DS commented on #3661
This is what it's telling me as shown in the screenshot above as well.

![CS-AECGHYhQ](https://user-images.githubusercontent.com/33796896/203437401-19c0e561-b0c9-48d6-915a-2174b62b7b10.png)

[2022-11-23 00:37] debonte commented on #3661
I was able to repro this by downgrading my Jupyter extension to their current Release version. Can you try upgrading to the latest Pre-Release build of Jupyter? They had a regression earlier this month that caused them to start a second instance of Pylance, and I think the error you are seeing may be coming from that second instance.

That would also explain the multiple lines of type info for `df

[2022-11-23 01:18] StevenLi-DS commented on #3661
@debonte Thanks man. Indeed, after I switch to pre-release `v2022.11.1003281132` Jupyter extension, the problem is gone. Maybe Jupyter extension version should also be included in the bug report template. lol..

[2022-11-23 01:25] debonte commented on #3661
Duplicate of https://github.com/microsoft/pylance-release/issues/3530

[2022-11-23 01:25] #3661 closed

[2022-11-23 02:23] subhash686 commented on #3649
Another weird behavior I noticed is that
My VS code was running for more than a week and the Pylance process kept running at >100% CPU even when I completely quit VS Code. on MacOS 12.5.1,  my VS Code shows that I am using Pylance `v2022.11.30`

When I check Activity monitor, there are two Pylance processes running one from `ms-python.vscode-pylance-2022.10.30` and the other from `ms-python.vscode

[2022-11-23 03:01] MiguelGuthridge commented on #3632
That's nice to hear! I think I figured out what the major issue is though - the Todo Tree extension seems to be triggering Rust Analyzer and Pylance to constantly rescan the entire project directory. It's great to see that this will still result in improvements to Pylance too though!

[2022-11-23 03:50] parched opened #3667 "Semantic highlighting broken"
## Environment data

-   Language Server version: Pylance language server 2022.11.32 (pyright 45344736)
-   OS and version: Windows 10
-   Python version (& distribution if applicable, e.g. Anaconda): python 3.10

## Code Snippet

![image](https://user-images.githubusercontent.com/5975405/203463788-07c71ebb-fde0-474e-ab61-c906d8717706.png)

It looks like it's using the wrong line
![image](https://

[2022-11-23 04:23] parched commented on #3667
Potentially duplicate of https://github.com/microsoft/pylance-release/issues/3649. Rolling back to v2022.11.20 seems to have fixed it.

[2022-11-23 09:25] ilouzl opened #3668 "Python intellisense is very slow"
Type: <b>Bug</b>

Text highlighting and auto complete are very slow under specific python envs.

Python Language Server prints log messages of 'Long operation' like this:
`[Info  - 11:15:48 AM] (31493) [BG(1)] Long operation: getSemanticTokens full at /Users/liron/Desktop/detector.py (124762ms)`

Tried to revert to older extension versions - with no improvement.
This is the pip freeze output:
[cod

[2022-11-23 10:12] lepakas commented on #994
I have a serious problem.Whenever I install a library ex. Pillow or phonenumbers and then try to use them i cannot because in output says module error no module named PIL  how can I solve this problem ???
Also sometimes it says that Pylance have not access in a certain library ex

[2022-11-23 12:09] alanlivio commented on #3644
Many thanks @debonte.
I double-checked the `"python.analysis.ignore": [ "**/*.ipynb*",... ` and it is working on both 2022.11.31. and 2022.11.32.
Sorry for the confusion. I think the issue can be closed.

[2022-11-23 14:36] xozion commented on #3482
The same type of error also occurs for single-subplots, where only one Axes object is returned.
## Environment data

-   Language Server version: 2022.11.30 (pyright 04a10583)
-   OS and version: Windows 10 Pro 22H2
-   Python version: Python 3.7.9

## Code Snippet

[code]

## Expected behavior

Type of 'ax' gets infered as (single) plt.Axes, because we only create 1 subplot.

## Actual behavior

[2022-11-23 15:43] #3644 closed

[2022-11-23 17:16] rchiodo commented on #994
@lepakas can you log a new issue following our guidelines here:
https://github.com/microsoft/pylance-release/blob/main/TROUBLESHOOTING.md#filing-an-issue

[2022-11-23 17:20] rchiodo commented on #3482
My guess for both of these problems is that the type stubs are either incorrect or not descriptive enough in order to handle these scenarios.

Type stubs for matplotlib come from here:
https://github.com/microsoft/python-type-stubs/tree/main/matplotlib

[2022-11-23 17:34] bschnurr commented on #3482
maybe there is a way using @overloads and `Literal[1]` to define a signature to return what you expect

[2022-11-23 18:20] rchiodo commented on #3668
Thanks for the issue. Could you share the repository you're running this on so we can try to repro the problem?

[2022-11-23 18:26] bschnurr commented on #3482
try
[code]

![image](https://user-images.githubusercontent.com/1946977/203621285-818bf6ec-b923-45c4-a6db-37c14a33e3df.png)

[2022-11-23 18:42] bschnurr commented on #3668
Also suggest putting your code inside a folder and then using "open folder"

[2022-11-23 18:45] bschnurr commented on #3667
This might be related to this issue. fix coming in today's pre-release.
https://github.com/microsoft/pylance-release/issues/3652

[2022-11-23 18:47] heejaechang commented on #3667
he meant next release which is next week.

[2022-11-23 19:46] youssefm opened #3670 "Feature Request: Auto import should suggest all symbols in your project"
At the moment, auto import only seems to suggest symbols for files in your project that happen to be open in VSCode.

I feel like that's a huge limitation. Most developers, including myself, would like to be able to start typing the name of symbols they know exist in their project and be able to auto import those symbols.

This feels like a super basic scenario for Pylance that would get it closer

[2022-11-23 19:47] youssefm commented on #3648
thanks @heejaechang - I've created this feature request: https://github.com/microsoft/pylance-release/issues/3670

[2022-11-23 20:16] debonte commented on #3219
Navigating to settings UI using vscode API: https://stackoverflow.com/questions/53584266/opening-vs-code-settings-window-from-extension-with-specific-search-query

[2022-11-24 00:59] ChezCoder opened #3671 "PyLance reports syntax error when an integer is next to the else keyword"
## Environment data

-   Language Server version: v2022.11.30
-   OS and version: macOS Monterey v12.5.1
-   Python version (& distribution if applicable, e.g. Anaconda): Python 3.9.7

## Code Snippet

[code]

## Repro Steps

1. Paste the code and let PyLance do the work

## Expected behavior

There should be no syntax errors, as this is valid Python.

## Actual behavior

<img width="518" alt="Scr

[2022-11-24 03:08] erictraut commented on #3671
If you run this code in the Python 3.10 or 3.11 interpreter, you will receive a warning indicating: `SyntaxWarning: invalid decimal literal`. So, while this may not result in an exception in the current version of Python, it is [deprecated](https://docs.python.org/3.10/whatsnew/3.10.html#deprecated) and will result in an exception in the future. As such, it makes sense for pylance to emit an error

[2022-11-24 08:50] jonasreiher commented on #3649
I'm encountering this issue as well, for quite some time now. Example:
![Pylance issues](https://user-images.githubusercontent.com/58821240/203733783-bfbaabb4-d8ea-4d5c-b7f1-6ba0e7a6d099.png)

I am currently only working on a remote development host but I'm pretty certain to have had this problem locally as well.
Closing and reopening the affected file works temporarily but the problem always reoc

[2022-11-24 10:33] RoTorEx opened #3672 "db.collection.insert() in pymongo library make code as unreachable but it is not truth"
## Environment data
- Language Server version: Pylance language server 2022.11.30 (pyright 04a10583)
- OS and version: macOS 12.5, Apple M1
- Python version (& distribution if applicable, e.g. Anaconda): CPython 3.10.2

## Code Snippet
[code]

## Expected behaviour
Code should not be marked as unreachable

## Actual behaviour
Code is marked as unreachable

## Logs
[code]

[2022-11-24 11:09] lripoche opened #3673 "Pylance reads a lot of data on disk"
## Environment data

-   Language Server version: 2022.11.30
-   OS and version: Ubuntu 22.04
-   Python version (& distribution if applicable, e.g. Anaconda): 3.8.15

## Repro Steps

1. Install pylance
2. Restart vscode
3. Run iotop then filter DISK_READ by active (ascending)

## Expected behavior

No disk_read since I don't have any python file open.

## Actual behavior

Pylance reads disk at un

[2022-11-24 11:51] ilouzl commented on #3668
@rchiodo
It's a private repo, so I'm afraid I cant share it.

@brettcannon
This is how I always work - I open the folder of the repo.

Do you think maybe there's a specific package that might cause this latency?

[2022-11-24 13:00] NelloHo opened #3693 "Duplicated Suggestion in Python"
Does this issue occur when all extensions are disabled?:  No , offiocial Python package needed

- VS Code Version: 1.73.1 (system stetup)
- OS Version:  Win 10

Steps to Reproduce:

1.  start a clean VS code without any settings and packages
2.  install Microsoft's official Python package
3.  it will show duplicated suggestions in Jupyter Notebook
![image](https://user-images.githubusercontent.com

[2022-11-24 13:46] urbpeti commented on #3670
I've faced the same issue before and I've just found out that this can be changed in the config. On the extensions, tab click the gear icon and select extension settings. You will find a lot of good options there including a change of this behavior. (I struggeled with auto import before and I've just found that setting there as well).

[2022-11-24 13:53] NelloHo opened #3674 "Duplicated Suggestion in Jupyter Notebook"
## Environment data

-   Language Server version: VS Code 1.73.1 (system stetup)
-   OS and version: Win 10
-   Python version (& distribution if applicable, e.g. Anaconda): 3.10

## Code Snippet

[code]

## Repro Steps

1. start a clean VS code without any settings and packages
2. install Microsoft's official Python package (which contains Pylance)
3. open Jupyter Notebook

## Expected behavior

[2022-11-24 13:53] NelloHo commented on #3674
there's probably a hint for finding the bug :
1. open Jupyter Notebook
2. disable Pylance
3. restart VS code
4. enable Pylance again.

the duplicated suggestions disappear

[2022-11-24 15:30] erictraut commented on #3672
This appears to be a bug in the `pymongo` library. The `Collection` class does not define a method named `insert`. Rather, it defines `insert_one` and `insert_many`. It does define a `__getattr__` method, which is annotated with a return type of `Collection`, and it defines a `__call__` method which is annotated with a return type of `NoReturn`.

That means `db.order_dishes.insert` evaluates to ty

[2022-11-24 15:35] erictraut commented on #3668
@ilouzl, based on the log message that you shared, it looks like `detector.py` is taking an extremely long time to analyze. You could try to narrow down the portion of that module that's causing the long analysis time by commenting out portions. I typically use a bisection approach (e.g. start by commenting out the second half of the source file, etc.). If you can narrow it down to a particular se

[2022-11-24 16:55] Sclafus opened #3675 "Syntax highlighting stops working on file edit"
## Environment data

-   Language Server version: `v2022.11.30` (switching to `v2022.11.32` has no effect)
-   OS and version: `Windows 10 21H2 19044.2251`
-   Python version (& distribution if applicable, e.g. Anaconda): `Python 3.10.7`

## Expected behavior

Does not stop working on edit

## Actual behavior

Stops working on edit

Video:

https://user-images.githubusercontent.com/31241607/203833

[2022-11-24 17:00] Sclafus commented on #3675
For information sake, this happens even in a non-testing environment.

[2022-11-24 17:30] bschnurr commented on #3668
in the past scipy has caused a lot of perf issues if that helps track it down.

[2022-11-24 17:42] bschnurr commented on #3675
does the semantic colouring come back after a while?

We do have a fix for pytest causing invalidateAndForceReanalysis coming next wed

[2022-11-24 17:49] ChezCoder commented on #3671
Oh ok makes sense then, thanks for clarifying.

[2022-11-24 17:49] #3671 closed

[2022-11-24 19:49] Sclafus commented on #3675
Hello @bschnurr,
I have not time tracked the issue, but after a while (>10 minutes) it goes back to normal, but it stops working randomly. It's quite unpredictable.

Also, if I do a `Python: restart language server`, everything goes back to normal until I edit the file.

[2022-11-24 21:08] youssefm commented on #3670
@urbpeti Can you please elaborate? As far as I know, there is no single configuration that will let you auto import symbols in your project without first opening the files that you want to import from. This is what my configuration looks like:

[code]

[2022-11-24 21:33] ilouzl commented on #3668
@erictraut , I took your suggestion and bisected the code.
I quickly noticed that when importing numpy things start to get slower (~2sec analysis), but if I also import pandas at the same script, latency becomes very long (~15sec).
The rest of import does't impact latency.

[2022-11-24 21:39] erictraut commented on #3668
That's a good clue, but we'll need to go a bit deeper. Pyright (the type checker upon which pylance is built) is a "lazy" type checker in that it evaluates the types of symbols only when they are referenced. That goes for imported symbols as well. So a simple import statement will not cause pyright to do much work. We'll need to determine which symbols from within those imports are triggering the

[2022-11-24 21:41] ilouzl commented on #3668
Going further with the bisection, I reduced the script to the minimum required to demonstrate the issue

[code]

That script on my machine takes 8.5 sec.
If I comment out the out the very last line or any one of the two imports, the latency disappears.

[2022-11-24 21:44] erictraut commented on #3668
Great! I'm able to repro the problem locally. I'll investigate further.

[2022-11-24 21:50] ilouzl commented on #3668
The 124 sec analysis happened when I open another python script that imports the one that I shared above (before the reduction).

[2022-11-24 22:49] bschnurr commented on #3461
I still can't seem to repo this. My only suggestion is to disable/uninstall all other extensions except python and pylance and try again to see if its still happening.

[2022-11-25 00:07] LeShaunJ commented on #3649
I concur. Tried everything OP did to no avail until a rollback to `2022.11.20` did the trick.

[2022-11-25 07:59] erictraut commented on #3668
Here's a simplified sample that exhibits the problem:

[code]

[2022-11-25 18:02] Aesonus commented on #3675
I have the same problem here. Oddly enough, the issue did not start immediately after the update. It does appear to manifest randomly.

[2022-11-25 18:16] JiaranYa commented on #3674
almost the same bug:
python version :3.9.12

not only duplicated suggestions, but also duplicated labels and error reports

can also be solved by the above-mentioned hint

![20221125191427](https://user-images.githubusercontent.com/62545540/204038102-5c4ff258-6290-407a-a08a-e3e66c5068cb.png)

![image](https://user-images.githubusercontent.com/62545540/204038240-feb81572-f273-4010-90fe-8242de0e2821

[2022-11-25 23:31] rpmcginty opened #3676 "Incorrectly Flagged child dataclass "Fields without default values cannot appear after fields with default values""
## Environment data

-   Language Server version: v2022.11.20
-   OS and version: MacOS 12.6
-   Python version (& distribution if applicable, e.g. Anaconda): 3.9.13

## Code Snippet

[code]

## Expected behavior

No linting errors are raised.

## Actual behavior

`Child.c` is highlighted with the following error:

However, this should not be the case, given that the fields with defaults are not i

[2022-11-26 00:00] erictraut commented on #3676
Thanks for the bug report. This will be addressed in the next version of pyright (the type checker upon which pylance is built) and a future release of pylance.

[2022-11-26 15:30] shivamCode0 commented on #3674
This is also a similar issue. When I import another file in a Jupyter notebook, it sometimes shows this:

![image](https://user-images.githubusercontent.com/47765144/204096425-f574dd92-bd62-4d2c-b47a-b5a1bfbb6134.png)

It duplicates the same message for most things like this:
![image](https://user-images.githubusercontent.com/47765144/204096518-b7b6906a-cf49-4e90-a056-822bbc8569e6.png)

but one "c

[2022-11-26 18:14] diego351 opened #3677 "Auto import feature breaks after adding another directory to workspace"
## Environment data

MacOS 13.0
VSCode Version: 1.73.1
Pylance v2022.11.30
Pylance language server 2022.11.30

settings.json:

[code]

## Repro Steps

1. Auto import works
2. File -> Add folder to workspace -> show other directory path (in my case it was 'site-packages')
3. CTRL + SHIFT + P -> Developer Reload Window
4. Now auto import doesn't work
5. Right click on site packages -> Remove folder

[2022-11-26 18:57] diego351 opened #3678 "Option to set python.analysis.packageIndexDepths depth globally."
MacOS 13.0
VSCode Version: 1.73.1
Pylance v2022.11.30
Pylance language server 2022.11.30

For now if you want to fully index (deeper than 2 directories deep) installed libraries to get auto import working you have to do something like this in your settings.json for each library:

[code]

I would like to have an option to index everything globally, taking the performance hit

# Repro:

1. No settin

[2022-11-26 20:51] bschnurr commented on #3678
to change the default set name to ""

[2022-11-26 20:58] diego351 commented on #3678
@bschnurr If I do
[code]

my library competitions doesn't work at all

[2022-11-26 21:01] kingwingfly opened #3679 "The coding suggestions repeated"
Type: <b>Bug</b>

When I use vscode with python, the coding suggestions repeated. For example, when I enter `pr`, there will be two `print` suggestions. If I reload pylance, this phenomenon will disapear temporarily. If I keep on coding, the suggestions repeat again.

Extension version: 2022.11.30
VS Code version: Code 1.73.1 (6261075646f055b99068d3688932416f2346dd3b, 2022-11-09T02:22:48.959Z)
OS

[2022-11-27 05:24] cmditch opened #3683 "Two instances of Python extension running"
Type: <b>Bug</b>

It almost seems as if the Python extension is running two daemons.

I get duplicate intellisense code completion suggestions (e.g. same function(s) will always appear twice); two function type inlay suggestions (e.g., "def thing() -> None -> None"); when renaming a file it says something along the lines of "2 extensions want to apply changes if you rename this file...". If I rest

[2022-11-27 08:31] NWYLZW opened #3681 "Feature: Support LSP request command"
**Is your feature request related to a problem? Please describe.**
I am developing an [extension](https://github.com/NWYLZW/vscode-comment-queries) based on the `LSP` of the `VSCode`. This extension will read the `quickInfo` information provided by the `LSP` in the corresponding row and column, and display it in the code in the way of `inlayHints`.

I already support `TypeScript`, and now I suppor

[2022-11-27 10:09] MotasemZiad opened #3680 "Pylance doesn't prevent this (my_var = 5 + "hello")"
<h3> Environment data </h3>

-   Language Server version: 2022.11.30
-   OS and version: win32 x64
-   Python version (and distribution if applicable, e.g. Anaconda):
-   python.analysis.indexing: true
-   python.analysis.typeCheckingMode: off

<h3> Code Snippet </h3>

[code]

<h3> Repro Steps </h3>

1. XXX

<h3> Expected behavior </h3>

XXX

<h3> Actual behavior </h3>

XXX

<h3> Logs </h3>

[code

[2022-11-27 14:20] erictraut commented on #3680
If you set "python.analysis.typeCheckingMode" to "basic", pylance will flag this as a type error.

![Screenshot 2022-11-27 at 6 20 29 AM](https://user-images.githubusercontent.com/7040122/204140150-a754c487-673c-4577-b4b6-a8dfb138739c.png)

[2022-11-27 14:30] MotasemZiad commented on #3680
@erictraut Thanks a lot, What about other hints? Could you send me a reference for setting up an excellent python environment linting technique?

[2022-11-28 01:26] jaymegordo commented on #3679
@kingwingfly is this what you're noticing? https://github.com/microsoft/pylance-release/issues/3617
I was having the same (ish?) issue but only when the jupyter interactive terminal was open... its fixed in a newer release of jupyter, but in general both jupyter/pylance seem to be fairly unstable right now

[2022-11-28 01:27] jaymegordo commented on #3674
https://github.com/microsoft/pylance-release/issues/3617 same issue? fixed by updating jupyter to pre-release... but also in general things seem super buggy rn

[2022-11-28 14:14] laundmo commented on #3631
I've tried multiple times to replicate this with a minimal example, but I can't manage to do it. I'm afraid this is a race-condition or similar which, I theorize, happens when saving a file again while Pylance was still actively type-checking.

Is there any python project you use to performance-test pylance/pyright, which i could check whether this issue appears?

[2022-11-28 17:31] rchiodo commented on #3673
This is by design. When pylance activates it 'indexes' your virtual environment. To do so it needs to read all of the python files in your site-packages folder.

You can control this by forcing this value to false:

[code]

[2022-11-28 17:31] #3673 closed

[2022-11-28 17:36] rchiodo commented on #3649
This looks like a dupe of https://github.com/microsoft/pylance-release/issues/3652 which was caused by incorrectly assigning files to the wrong workspace folder. It repros when you have more than one folder in your workspace. Going back to 2022.11.20 fixes that problem.

@LeShaunJ and @jonasreiher can you verify if you have more than one folder open?

[2022-11-28 17:41] rchiodo commented on #3677
I believe this is by design. Folders in your workspace aren't considered for auto import. We should document that behavior though. I don't see it anywhere in our documentation.

[2022-11-28 17:47] rchiodo commented on #3681
@NWYLZW are you trying to execute a command on the server?

That would be this message here:

https://microsoft.github.io/language-server-protocol/specifications/lsp/3.17/specification/#workspace_executeCommand

And you'd have to know what commands the pylance server supports. It's not publicly exposed.

Your original question sounded like you wanted inlay hint information. That would be this mess

[2022-11-28 17:47] #3681 closed

[2022-11-28 17:52] rchiodo commented on #3683
@cmditch are you opening any jupyter notebooks? This sounds like this bug here:
https://github.com/microsoft/pylance-release/issues/3027#issuecomment-1312148181

[2022-11-28 18:06] rchiodo commented on #3683
Did you try updating the jupyter extension to the prerelease version to see if the problem goes away?

[2022-11-28 18:18] martinlbrook commented on #3649
I'm having the same issue. Also seems to be resolved by going back to 2022.11.20 and I'm experiencing it in a few different workspaces, all containing multiple folders.

[2022-11-28 18:22] rchiodo commented on #3649
Thanks for verifying.

The reason it looks so weird is that the `textDocument/didOpen` will go to one server and your `textDocument/didChange` events will go to another.

Internally this messes up the contents of the file that the server has. Meaning it doesn't even come close to matching what's on the screen.

Example:

File starts out as this:

[code]

You add this:

[code]

Server sees this as

[2022-11-28 18:47] cmditch commented on #3683
I just tried the pre-release of the Jupyter extension `v2022.11.1003301027`.
![image](https://user-images.githubusercontent.com/15849320/204355304-bc18d798-8603-4c0b-839a-927697283a12.png)

Getting this error in the console `[Extension Host] extension activation failed TypeError: s.notebooks.createNotebookControllerDetectionTask is not a function`

Fwiw, setting `"python.pylanceLspNotebooksEnabled

[2022-11-28 18:58] rchiodo commented on #3683
Oh that probably means the jupyter extension requires a newer VS code to run.

[2022-11-28 18:59] rchiodo commented on #3683
But the setting being true means it's the same issue. Thanks.

[2022-11-28 18:59] #3683 closed

[2022-11-28 18:59] #3672 closed

[2022-11-28 19:03] judej commented on #3674
Could you try using the new Jupyter notebook handler? The settings should have:

`"python.pylanceLspNotebooksEnabled": true`

[2022-11-28 19:10] judej commented on #3679
This is a dupe of #3617 and fixed in the insiders version.

[2022-11-28 19:11] #3680 closed

[2022-11-28 19:16] rchiodo commented on #3631
You might try https://github.com/sqlalchemy/sqlalchemy or https://github.com/scikit-learn/scikit-learn. We use those to test perf problems.

[2022-11-28 19:46] jonasreiher commented on #3649
I can confirm. This happens to me when multiple folders are open in a single workspace. I tried with a single folder for some time now and did not yet encounter the problem again.

[2022-11-28 20:22] rchiodo commented on #3649
Thanks. Closing as dupe of #3652

[2022-11-28 20:22] #3649 closed

[2022-11-28 21:47] LeShaunJ commented on #3649
Thanks for the reply, @rchiodo. Yes, I had multiple folders in my workspace when the issue occurred.

[2022-11-28 21:48] bschnurr commented on #3668
@ilouzl  for now just add some annotations to your 'self.foo' member variables.

[2022-11-28 23:30] rchiodo opened #3684 "Support intellicode in pylance for the browser"
Once this pr goes through:
https://github.com/microsoft/pyrx/pull/2981

We should be able to support intellicode in vscode.dev.

[2022-11-28 23:36] dlefcoe commented on #3017
what do you mean "in the user settings".  where are the user settings or how does one get to the user  settings that you are referring to ?

[2022-11-28 23:36] rchiodo commented on #3684
Difficulty here is in reading the model when we get the command. The URI for the file path will likely be a 'web' based URI and pylance/pyright can't currently read those URIs.

[2022-11-28 23:52] debonte opened #3685 "Pylance isn't started for users in auto-indent experiment if `settings.json` is dirty"
## Repro Steps
Assuming you are a member of the auto-indent treatment group:
1. Open a workspace without any open Python tabs.
2. `Preferences: Open User Settings (JSON)`
3. If present, remove the following from `settings.json` and save it:
[code]
4. Make a whitespace change in `settings.json`. Do not save.
5. Open a Python file.

## Expected behavior
Pylance launches

## Actual behavior
Pylance i

[2022-11-29 00:06] rchiodo commented on #3447
Note to self, add this code around analysis:

https://nodejs.org/api/inspector.html#cpu-profiler

[2022-11-29 01:40] mjbvz commented on #3647
Since the original TS files are not included in the extension afaik, this should likely not change call stacks

[2022-11-29 02:44] debonte commented on #3567
@joyceerhl, @luabud, @rebornix, are you still seeing this? I can't repro it using Pylance 2022.11.10, Python 2022.19.13061131, and Jupyter 2022.9.1002791758, all from roughly the same time period.

If it still repros, https://github.com/microsoft/pyrx/issues/2946 might fix it.

[2022-11-29 06:47] debonte opened #3686 "Auto-indent fails to break out of nested context"
Manual transfer from https://github.com/microsoft/pyrx/issues/2956

[code]

[2022-11-29 06:47] debonte commented on #3686
Simpler repro:

[code]

It doesn't repro for me if the `|<- hit enter here` line is the last line in the file.

[2022-11-29 08:26] JakobDev opened #3687 "Dict Key Literal Autocompletion does not work with Attributes"
## Environment data

-   Language Server version: v2022.11.30
-   OS and version: Windows 10
-   Python version: 3.10.0

## Code Snippet

[code]

## Repro Steps
Copy this code and start typing, where the comments are e.g. a[]. If you do this, the Autocompletion will pop-up and will provide Autocompletion for the Keys. ("Hello, World, Test, 123).

## Expected behavior
It should work everywhere

##

[2022-11-29 08:50] elashrry commented on #3017
@dlefcoe You open the Command Palette by the keyboard shortcut: Command+Shift+P on mac and Ctrl+Shift+P on windows, then write "user settings", you should find user settings as GUI and user settings as JSON. Choose what you prefer.
JSON is easier so that you can copy the settings people are referring to as they wrote them.
 In the GUI option, you can search for what you want.

[2022-11-29 09:16] Anonymous-Y commented on #3666
Have the same problem after installing the latest pylance. I am using MacOS 12.6.1. Activity Monitor shows that the Code Helper is using up 50-60% of CPU while the VSCode is idle. After uninstalling pylance, the CPU usage becomes normal.

[2022-11-29 10:00] Pickaxe233 opened #3688 "Cannot access member "clicked" for type "QPushButton"; Member "clicked" is unknown"
# Environment data
* Language Server version: 2022.11.32
* OS and version: Windows 11 22H2
* Python version (& distribution if applicable, e.g. Anaconda): 3.10.8
# Expected behaviour
extension sets correct syntax highlighting
# Actual behaviour
extension can't find QPushButton class's clicked method
# Code Snippet / Additional information
[code]
It's kind of like #884, and if I run the full script

[2022-11-29 10:04] laundmo commented on #3631
Neither of those pass `strict` or even `basic` mode type checking, so I wasn't able to test this

[2022-11-29 11:37] diego351 commented on #3678
Repro:

1. No setting set or one below:
[code]
1. pip install django-rest-framework
2. Type ListAPIView, no completition
3.Change setting to one below

[code]
4.Type ListAPIView ->
<img width="326" alt="image" src="https://user-images.githubusercontent.com/1809191/204519172-e2c33e10-8263-4ea2-98d1-d248432b0198.png">

[2022-11-29 11:42] diego351 commented on #3677
@richodo What do you mean it's by design? I don't mean to have auto import hints from my workspace. It's that when I add another folder to the workspace the general auto import feature stops working as in provided repro steps. Am not sure if that helps ;)

[2022-11-29 12:02] gmckeown opened #3689 "Member "iter_rows" unknown for openpyxl worksheet"
Seems similar to issue [#947 ](https://github.com/microsoft/pylance-release/issues/947) though installing openpyxl-stubs doesn't resolve the problem in this case.

## Environment data

-   Language Server version: 2022.11.30 (pyright 04a10583)
-   VSCode version: 1.73.1
-   OS and version: Windows 10 (19044.2251)
-   Python version (& distribution if applicable, e.g. Anaconda): 3.10.2 (python.org)

[2022-11-29 12:44] misha-antonenko opened #3690 "The disk is flooded with core dumps"
Type: <b>Bug</b>

The folder ~/.vscode-server/extensions/ms-python.vscode-pylance-2022.11.30/dist on my server quickly gets flooded with files with names of form `*.core.dmp`. How do I turn off saving them?

Extension version: 2022.11.30
VS Code version: Code 1.73.1 (6261075646f055b99068d3688932416f2346dd3b, 2022-11-09T02:08:38.961Z)
OS version: Darwin x64 21.6.0
Modes:
Sandboxed: No

<details>
<s

[2022-11-29 12:52] Chz-yang opened #3691 "Bug in v2022.11.30 when using multi folders in one vscode workspace"
## Environment data

-   Language Server version: v2022.11.30
-   OS and version: Windows 10 Enterprise 21H2 19044.2130
-   Python version (& distribution if applicable, e.g. Anaconda): Python 3.10

## Code Snippet

[code]

## Repro Steps

1. Mkdir two directorys name "client" and "server".

2. Create a simple vscode workspace file with these two folders.
[code]

3. Touch one file named "clientTes

[2022-11-29 12:55] torext opened #3692 "IntelliSense doesn't autocomplete modules in workspace subfolders in unsaved Jupyter notebooks"
<h3> Environment data </h3>

-   Language Server version: 2022.11.30
-   OS and version: linux x64
-   Python version (and distribution if applicable, e.g. Anaconda): 3.10.8, Miniconda
-   python.analysis.indexing: false
-   python.analysis.typeCheckingMode: off

<h3> Repro Steps </h3>

1. Create a new workspace folder `myworkspace` with the following structure:
[code]
2. Put the following inside

[2022-11-29 14:42] chassing commented on #3318
At least having 'from collections.abc' in the suggestions would be beneficial alone.

[2022-11-29 17:53] NelloHo commented on #3674
this is a unrecognizable command:
![image](https://user-images.githubusercontent.com/99171663/204605921-803ead12-dc66-4ca5-8e06-d33a44b36eed.png)

and even if I change and save the setting , it still shows duplicated suggestions:
![image](https://user-images.githubusercontent.com/99171663/204606107-87170bd9-4deb-4c7c-8897-5e9b905f14fc.png)

[2022-11-29 17:57] bsaunders23 commented on #3674
This seems like a duplicate of https://github.com/microsoft/pylance-release/issues/3693, can someone merge the issues? Thanks!

[2022-11-29 17:58] JiaranYa commented on #3674
Thanks to @judej  and his issue #3617. I change Jypyter to pre-release version. now it works properly, even affecting .py files. You can try it

[2022-11-29 18:03] bsaunders23 commented on #3693
I think this has been addressed in the prerelease #3617

[2022-11-29 18:04] bsaunders23 commented on #3674
Yep just saw that thanks @judej!

[2022-11-29 18:29] debonte commented on #3687
One issue is that `self.test_dict`, as written, is a type alias.

However, even if I change the declaration of `test_dict` to one of the following, and Pylance understands that it is of type `dict[test_literal, str]`, I still don't see the expected suggestions:

[code]

[2022-11-29 18:53] bschnurr commented on #3692
Thank for bringing this up again, but closing this duplicate

[2022-11-29 18:53] #3692 closed

[2022-11-29 18:55] debonte commented on #3693
You have two options for this:
1. Use a recent prerelease build of the Jupyter extension. I believe this requires VS Code Insiders btw because they are using some new APIs that aren't supported in VS Code stable yet.
2. Set `"python.pylanceLspNotebooksEnabled": true`. Note that this option has been removed from the Python extension, so it may be grayed out when you enter it into `settings.json`. T

[2022-11-29 18:55] #3693 closed

[2022-11-29 18:58] bschnurr commented on #3691
duplicate #3652

[2022-11-29 18:58] #3691 closed

[2022-11-29 19:00] bschnurr commented on #3690
Can you upload your Python Language Server output trace logs... see
https://github.com/microsoft/pylance-release/blob/main/TROUBLESHOOTING.md#filing-an-issue

[2022-11-29 19:03] jocropsey opened #3694 "Incorrect Missing Import Warnings"
<h3> Environment data </h3>

-   Language Server version: 2022.11.30
-   OS and version: win32 x64
-   Python version (and distribution if applicable, e.g. Anaconda):
-   python.analysis.indexing: false
-   python.analysis.typeCheckingMode: off

<h3> Expected behavior </h3>

Workspace will open and resolve all imports without showing Pylance missing imports warning and without having to close and

[2022-11-29 19:04] bschnurr commented on #3688
Most likely and issue with missing stub info for 'clicked'

[2022-11-29 19:08] bschnurr commented on #3687
Currently we only support a limited number of cases.

This would be an enhancement.
Thank you

[2022-11-29 19:11] rchiodo commented on #3677
Yes the secondary folder (site-packages) in this case is considered user code. So they're not part of auto import because we only auto import non user code at the moment.

@heejaechang is working on adding a setting to allow user code to be part of auto import though. See this issue:
https://github.com/microsoft/pylance-release/issues/3670

[2022-11-29 19:51] heejaechang commented on #3670
new option is added `python.analysis.autoImportUserSymbols`.

if set `true`, we will include user symbols in the auto import completion.

[2022-11-29 20:02] heejaechang commented on #3694
Can you provide us some logs as described in [the troubleshooting guide](https://github.com/microsoft/pylance-release/blob/main/TROUBLESHOOTING.md#filing-an-issue)?

[2022-11-29 20:47] jocropsey commented on #3694
Sure, here is the output log. I've replaced my username and renamed the folders/repos to repoX

<details>
<summary>Output log</summary>

[Info  - 3:30:43 PM] (17956) Pylance language server 2022.11.30 (pyright 04a10583) starting
[Info  - 3:30:43 PM] (17956) Server root directory: c:\Users\USERNAME\.vscode\extensions\ms-python.vscode-pylance-2022.11.30\dist
[Info  - 3:30:43 PM] (17956) Starting ser

[2022-11-29 21:46] debonte commented on #3685
Fix will ship in next Python extension prerelease build.

[2022-11-29 21:46] #3685 closed

[2022-11-29 21:52] youssefm commented on #3670
Amazing! Thank you @heejaechang, this is going to make a huge difference

[2022-11-29 22:10] heejaechang commented on #3300
I can't repro this now. is this still an issue?

[2022-11-29 22:41] bogurd commented on #3300
I just performed a clean install of the SSH server and updated to the latest (insiders) version. I didn't install any extensions in the server other than the recommended python extensions (VSCode prompt).

The issue still persists for me in this setup.

[2022-11-29 23:04] heejaechang commented on #3300
Can you provide us some logs as described in [the troubleshooting guide](https://github.com/microsoft/pylance-release/blob/main/TROUBLESHOOTING.md#filing-an-issue)?

...

I used ubuntu + OpenSSH server 3.0.2 (on ubuntu) + vscode insider (1.74.0-insider) windows + OpenSSH 3.0.2 client on windows

and everything seems working as expected.

![sshremote](https://user-images.githubusercontent.com/13331

[2022-11-29 23:18] debonte commented on #3428
Closing since there's been no response in more than a month. We can reopen if you are able to provide more info.

[2022-11-30 01:19] debonte commented on #3666
Can you provide more details on how to repro this?

I cloned https://github.com/systemd/systemd, opened the folder in VS Code, and then opened `test\create-sys-script.py`. I was suspecting that the recursive symlink at https://github.com/systemd/systemd/blob/main/test/testdata would cause problems, but Pylance detects and skips it. And I didn't see any CPU craziness. I tried this on both Ubuntu an

[2022-11-30 02:12] rchiodo commented on #3447
I believe most of the problem here is caused by scikit-learn not having adequate stubs. So instead pylance (and pyright) has to infer return types in scikit-learn and this can be super expensive.

This setting here makes things a lot faster, but then we give no type information for most scikit-learn types:

[code]

[2022-11-30 02:16] erictraut commented on #3447
This can be mitigated by improving the partial type stubs for sklearn that ship with pyright. If you want to contribute to these stubs, they are available in [this public github repo](https://github.com/microsoft/python-type-stubs/tree/main/sklearn-stubs).

[2022-11-30 02:56] Pickaxe233 commented on #3688
So could you please tell me how to solve it or am I able to solve it?

[2022-11-30 03:00] Pickaxe233 commented on #3688
So could you please tell me how to solve it or am I able to solve it?

[2022-11-30 03:03] erictraut commented on #3688
@Pickaxe233, could you please provide a minimal, self-contained code snippet? Your code sample references symbols that are presumably imported from a library or are defined elsewhere in your code. If imported, include the import statements. And if they are coming from a library, please specify the version of the library and whether you have any type stubs installed.

[2022-11-30 07:58] diego351 commented on #3677
I checked and this also happens when I add empty directory as secondary directory to workspace. I don't expect to get auto import from secondary directory. Always from primary, secondary is just for exploring directory tree purpose, no auto import

[2022-11-30 08:44] rdbisme commented on #3650
Just as a note, I left the scanning process going all night long and at the morning some apps (e.g. another VScode window) crashed for OOM.

[2022-11-30 10:29] kov commented on #3666
It is happening for me just by opening the folder in code, no need to open any files. After some poking, it looks like it being compiled is necessary, note the /build/ in the path. I tried moving my build dir away and it seems to have helped. Closing code does not make the pylance process go away, it keeps going.

I can provide you with a copy of my build directory or run any diagnostics if it'll

[2022-11-30 16:56] emi7718 opened #3695 "stopped working"
![image](https://user-images.githubusercontent.com/108490310/204858306-fb298c16-c008-4a05-9967-1c0778266e33.png)
![image](https://user-images.githubusercontent.com/108490310/204859487-e434ae89-108c-4c56-9845-89487070ea2d.png)

<h3> Environment data </h3>

-   Language Server version: 2022.11.30
-   OS and version: win32 x64
-   Python version (and distribution if applicable, e.g. Anaconda):
-   py

[2022-11-30 17:08] rchiodo commented on #3695
Do you happen to have multiple folders open? If so this is a dupe of #3652

[2022-11-30 18:40] fiendish commented on #1145
Can this issue be re-opened? Python >= 3.9 does not have any problem with return type annotations.

[2022-11-30 18:59] heejaechang commented on #3694
I think it is a dup of https://github.com/microsoft/pylance-release/issues/3652

`prerelease` version of today pylance release will have a fix for the issue. can you check whether it is fixed by today release?

[2022-11-30 19:44] jocropsey commented on #3694
Updated to Pylance pre-release, issue is not resolved.

I've also noticed some additional behavior. After opening the workspace, if I edit the file (like adding a single space), then the warnings go away but the ctrl + click linking stops working. This is also fixed by closing and re-opening the file.

[2022-11-30 19:49] rchiodo commented on #3694
Today's release hasn't shipped yet. The 2022.11.41 version should have this fix in it.

[2022-11-30 19:55] jocropsey commented on #3694
Ah okay. I switched from 11.30 to pre-release 11.32. Thanks for the clarification!

[2022-11-30 21:58] PiranhaV opened #3698 "IntelliSense marking issues that do not exist"
Type: <b>Bug</b>

# Behaviour
## Expected vs. Actual

Expected: IntelliSense marks errors where they happen and colors imports etc.

Actual: IntelliSense marks errors somewhere in the first few lines. These errors mostly have existed but have been resolved by then. When for example importing a library (from flaks import Flask,..) from and import are colored but flask, Flask... are not. Same happen

[2022-11-30 23:33] rchiodo commented on #3687
This issue has been fixed in prerelease version 2022.11.41, which we've just released. You can find the changelog here: [CHANGELOG.md](https://github.com/microsoft/pylance-release/blob/main/CHANGELOG.md#20221141-30-November-2022-PreRelease)

[2022-11-30 23:33] #3687 closed

[2022-11-30 23:34] rchiodo commented on #3686
This issue has been fixed in prerelease version 2022.11.41, which we've just released. You can find the changelog here: [CHANGELOG.md](https://github.com/microsoft/pylance-release/blob/main/CHANGELOG.md#20221141-30-November-2022-PreRelease)

[2022-11-30 23:34] #3686 closed

[2022-11-30 23:34] rchiodo commented on #3676
This issue has been fixed in prerelease version 2022.11.41, which we've just released. You can find the changelog here: [CHANGELOG.md](https://github.com/microsoft/pylance-release/blob/main/CHANGELOG.md#20221141-30-November-2022-PreRelease)

[2022-11-30 23:34] #3676 closed

[2022-11-30 23:34] rchiodo commented on #3670
This issue has been fixed in prerelease version 2022.11.41, which we've just released. You can find the changelog here: [CHANGELOG.md](https://github.com/microsoft/pylance-release/blob/main/CHANGELOG.md#20221141-30-November-2022-PreRelease)

[2022-11-30 23:34] #3670 closed

[2022-11-30 23:35] rchiodo commented on #3667
This issue has been fixed in prerelease version 2022.11.41, which we've just released. You can find the changelog here: [CHANGELOG.md](https://github.com/microsoft/pylance-release/blob/main/CHANGELOG.md#20221141-30-November-2022-PreRelease)

[2022-11-30 23:35] #3667 closed

[2022-11-30 23:35] rchiodo commented on #3656
This issue has been fixed in prerelease version 2022.11.41, which we've just released. You can find the changelog here: [CHANGELOG.md](https://github.com/microsoft/pylance-release/blob/main/CHANGELOG.md#20221141-30-November-2022-PreRelease)

[2022-11-30 23:35] #3656 closed

[2022-11-30 23:35] rchiodo commented on #3654
This issue has been fixed in prerelease version 2022.11.41, which we've just released. You can find the changelog here: [CHANGELOG.md](https://github.com/microsoft/pylance-release/blob/main/CHANGELOG.md#20221141-30-November-2022-PreRelease)

[2022-11-30 23:35] #3654 closed

[2022-11-30 23:35] rchiodo commented on #3652
This issue has been fixed in prerelease version 2022.11.41, which we've just released. You can find the changelog here: [CHANGELOG.md](https://github.com/microsoft/pylance-release/blob/main/CHANGELOG.md#20221141-30-November-2022-PreRelease)

[2022-11-30 23:35] #3652 closed

[2022-11-30 23:35] rchiodo commented on #3632
This issue has been fixed in prerelease version 2022.11.41, which we've just released. You can find the changelog here: [CHANGELOG.md](https://github.com/microsoft/pylance-release/blob/main/CHANGELOG.md#20221141-30-November-2022-PreRelease)

[2022-11-30 23:35] #3632 closed

[2022-11-30 23:36] rchiodo commented on #3612
This issue has been fixed in prerelease version 2022.11.41, which we've just released. You can find the changelog here: [CHANGELOG.md](https://github.com/microsoft/pylance-release/blob/main/CHANGELOG.md#20221141-30-November-2022-PreRelease)

[2022-11-30 23:36] #3612 closed

[2022-11-30 23:36] rchiodo commented on #3599
This issue has been fixed in prerelease version 2022.11.41, which we've just released. You can find the changelog here: [CHANGELOG.md](https://github.com/microsoft/pylance-release/blob/main/CHANGELOG.md#20221141-30-November-2022-PreRelease)

[2022-11-30 23:36] #3599 closed

[2022-11-30 23:36] rchiodo commented on #3549
This issue has been fixed in prerelease version 2022.11.41, which we've just released. You can find the changelog here: [CHANGELOG.md](https://github.com/microsoft/pylance-release/blob/main/CHANGELOG.md#20221141-30-November-2022-PreRelease)

[2022-11-30 23:36] #3549 closed

[2022-11-30 23:37] rchiodo commented on #3544
This issue has been fixed in prerelease version 2022.11.41, which we've just released. You can find the changelog here: [CHANGELOG.md](https://github.com/microsoft/pylance-release/blob/main/CHANGELOG.md#20221141-30-November-2022-PreRelease)

[2022-11-30 23:37] #3544 closed

[2022-11-30 23:37] rchiodo commented on #3497
This issue has been fixed in prerelease version 2022.11.41, which we've just released. You can find the changelog here: [CHANGELOG.md](https://github.com/microsoft/pylance-release/blob/main/CHANGELOG.md#20221141-30-November-2022-PreRelease)

[2022-11-30 23:37] #3497 closed

[2022-11-30 23:37] rchiodo commented on #3401
This issue has been fixed in prerelease version 2022.11.41, which we've just released. You can find the changelog here: [CHANGELOG.md](https://github.com/microsoft/pylance-release/blob/main/CHANGELOG.md#20221141-30-November-2022-PreRelease)

[2022-11-30 23:37] #3401 closed

[2022-11-30 23:37] rchiodo commented on #3308
This issue has been fixed in prerelease version 2022.11.41, which we've just released. You can find the changelog here: [CHANGELOG.md](https://github.com/microsoft/pylance-release/blob/main/CHANGELOG.md#20221141-30-November-2022-PreRelease)

[2022-11-30 23:37] #3308 closed

[2022-11-30 23:37] rchiodo commented on #3219
This issue has been fixed in prerelease version 2022.11.41, which we've just released. You can find the changelog here: [CHANGELOG.md](https://github.com/microsoft/pylance-release/blob/main/CHANGELOG.md#20221141-30-November-2022-PreRelease)

[2022-11-30 23:37] #3219 closed